SECRET_KEY="your-secret-key"
ALGORITHM=HSA-256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_MINUTES=25430
DATABASE_USERNAME=postgres
DATABASE_PASSWORD="db-password"
DATABASE_HOSTNAME=localhost
DATABASE_NAME=chatapp
DATABASE_PORT=5432
RESEND_API_KEY="resend-api-key"
RESEND_FROM_EMAIL="your email"
